h1{
    color: burlywood;
    font-family: cursive;
    font-size: 100px;
    padding: 50px 10px 10px 60px;
    display: flexbox;
    justify-self: start;
} 
nav {
    padding: -0.5px -0.5px -0.5px -0.5px;
    position: fixed;
    top: 0%;
    right: 0%;
    display: flexbox;
    justify-content: space-evenly;
}
h2{
    color: chocolate;
    background-color: lightgoldenrodyellow;
}
header ul{ 
    list-style-type: none;
    background-color: lightgoldenrodyellow;
    }
img{
    width: 80%;
    height: 80%;
    margin: 10px 10px 10px 20px;
}
footer{
    background-color: burlywood;
    position: relative; 
    bottom: -50px;
}
h4{
    background-color:burlywood ;
}
section article {
    width: 40%;
    margin: 2px 1px 0px 0px;
}
footer section {
    display: flex;
    justify-content:flex-start; 
}
@media only screen and (max-width:400px){
    body {
        background-color: azure;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.05fr 0.2fr 1fr 0.5fr 0.2fr;
        grid-template-areas: 
        "header"
        "main"
        "footer"
         ;
    }
}
@media only screen and (min-width:401px) and (max-width:900px) {
    body {
        background-color:blanchedalmond;
    }   
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.1fr 0.4fr 1fr 0.5fr 0.2fr;
        grid-template-areas: 
        "header    header"
        "main      main"
        "footer    footer"
        ;
    }
}
@media only screen and (min-width:901px) {
    body {
    background-color:rgb(193, 234, 239) ;}
}
.image {
    display: inline-block;
}
.redes-sociales {
    padding: 15px 0px 5px 5px;
    position: absolute;
    display: flexbox;
    justify-content: center;  
}
p {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 2.5%;
}
.trayectoria {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 0.1%;
}
.preguntas-y-repuestas {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 0.1%;
}
select {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    left: 3%;
}
.datos-personales {
    position: relative;
    left: 3%;  
}
